h1{
	
	font-family: Arial, Helvetica, sans-serif;
}

body{

	text-align: center; 


}

.section { 

	font-family: Arial, Helvetica, sans-serif;
	

}

.subsection {

	
	font-family: Arial, Helvetica, sans-serif;

}

a{ 
    transition: transform .2s;
	color: black; 
	text-decoration: none;
	margin: 10px; 
}
a:hover { 
	transition: 0.2s ease-in;
	 
    transform: scale(1.1); 
    transform: skew(-4deg, -2deg);
	color: rgb(206, 0, 0);
}
